{
    frankenphp
    auto_https off
    admin off
}

:{$PORT:80} {
    root * /app
    
    # Caddy perlu mengetahui root untuk php_server
    php_server {
        root /app
        try_files {path} {path}/index.php index.php
    }
}
